<!-- fragments/menu.html -->
<nav th:fragment="menu">
    <div class="sidebar" id="sidebarMenu">
        <ul>
            <li>
                <a href="/dashboard">
                    <i class="fa-solid fa-house"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/addtask">
                    <i class="fa-solid fa-list-check"></i>
                    <p>Add TODO</p>
                </a>
            </li>
            <li>
                <a href="/changepasswd">
                    <i class="fa-solid fa-key"></i>
                    <p>Change Password</p>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-icon" id="menuIcon" onclick="toggleMenu()">&#9776;</div>
</nav>
